<template>
    <div>
        <base-header class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">

        </base-header>

        <div class="container-fluid mt--7">
            <div class="row">
                <div class="col-xl-8 order-xl-1">
                    <card shadow type="secondary">
                        <div slot="header" class="bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">Register Member</h3>
                                </div>
                            </div>
                        </div>
                        <template>
                            <form @submit.prevent>
                                <h6 class="heading-small text-muted mb-4">User information</h6>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <base-input alternative=""
                                                        label="National ID"
                                                        placeholder="Eg 3427876"
                                                        input-classes="form-control-alternative"
                                                        v-model="id_no"
                                            />
                                            <p class="message" v-if="!$v.id_no.required"> * National ID detail is required</p>
                                        </div>
                                        <div class="col-lg-6">
                                            <base-input alternative=""
                                                        label="Email home_ownership"
                                                        placeholder="jesse@example.com"
                                                        input-classes="form-control-alternative"
                                                        v-model="user_email"
                                            />
                                            <p class="message" v-if="!$v.user_email.email"> * Field must be an email</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <base-input alternative=""
                                                        label="First name"
                                                        placeholder="First name"
                                                        input-classes="form-control-alternative"
                                                        v-model="first_name"
                                            />
                                            <p class="message" v-if="!$v.first_name.required"> * First Name detail is required</p>
                                        </div>
                                        <div class="col-lg-6">
                                            <base-input alternative=""
                                                        label="Last name"
                                                        placeholder="Last name"
                                                        input-classes="form-control-alternative"
                                                        v-model="last_name"
                                            />
                                            <p class="message" v-if="!$v.last_name.required"> * Last Name detail is required</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <base-input alternative=""
                                                        label="Member Shares"
                                                        placeholder="678,900"
                                                        input-classes="form-control-alternative"
                                                        v-model="member_shares"
                                            />
                                            <p class="message" v-if="!$v.member_shares.required"> * Member Shares detail is required</p>
                                        </div>
                                        <div class="col-lg-6">
                                            <base-input alternative=""
                                                        label="Gender"
                                                        placeholder="Male/Female"
                                                        input-classes="form-control-alternative"
                                                        v-model="gender"
                                            />
                                            <p class="message" v-if="!$v.gender.required"> * Gender detail is required</p>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-4" />
                                <!-- Address -->
                                <h6 class="heading-small text-muted mb-4">Contact information</h6>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <base-input alternative=""
                                                        label="Telephone"
                                                        placeholder="07457655"
                                                        input-classes="form-control-alternative"
                                                        v-model="telephone"
                                            />
                                            <p class="message" v-if="!$v.telephone.required"> * Telephone detail is required</p>
                                        </div>
                                        <div class="col-lg-6">
                                            <label  class="form-control-label" input-classes="form-control-alternative">
                                                Home Ownership
                                            </label>
                                            <model-list-select :list="homes"
                                                               v-model="home_ownership"
                                                               option-value="code"
                                                               option-text="name"
                                                               class="form-control form-control-alternative"
                                                               placeholder="select item">
                                            </model-list-select>
                                            <p class="message" v-if="!$v.home_ownership.required"> * Home Ownership detail is required</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <base-input alternative=""
                                                        label="Credit Score"
                                                        placeholder="569"
                                                        input-classes="form-control-alternative"
                                                        v-model="credit_score"
                                            />
                                            <p class="message" v-if="!$v.credit_score.required"> * Credit Score detail is required</p>
                                        </div>
                                        <div class="col-lg-4">
                                            <base-input alternative=""
                                                        label="Annual Income"
                                                        placeholder="27000"
                                                        input-classes="form-control-alternative"
                                                        v-model="annual_income"
                                            />
                                            <p class="message" v-if="!$v.annual_income.required"> * Annual Income detail is required</p>
                                        </div>
                                        <div class="col-lg-4">
                                            <base-input alternative=""
                                                        label="Years of Credit"
                                                        placeholder="10"
                                                        input-classes="form-control-alternative"
                                                        v-model="years_history"
                                            />
                                            <p class="message" v-if="!$v.years_history.required"> * Years of Credit History detail is required</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <base-input alternative=""
                                                        label="No of Credit Problems"
                                                        placeholder="2"
                                                        input-classes="form-control-alternative"
                                                        v-model="credit_problems"
                                            />
                                            <p class="message" v-if="!$v.credit_problems.required"> * No of Credit Problems detail is required</p>
                                        </div>
                                        <div class="col-lg-4">
                                            <base-input alternative=""
                                                        label="Years in Current Job"
                                                        placeholder="23"
                                                        input-classes="form-control-alternative"
                                                        v-model="years_job"
                                            />
                                            <p class="message" v-if="!$v.years_job.required"> * Years in Current Job detail is required</p>
                                        </div>
                                        <div class="col-lg-4">
                                            <base-input alternative=""
                                                        label="Tax Liens"
                                                        placeholder="1"
                                                        input-classes="form-control-alternative"
                                                        v-model="tax_liens"
                                            />
                                            <p class="message" v-if="!$v.tax_liens.required"> * Tax Liens detail is required</p>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-4" />
                                <div class="text-center" v-if="loaderStatus">
                                    <loader></loader>
                                </div>
                                <div class="text-center" v-else>
                                <base-button type="primary" size="lg" @click.prevent="registerMember">Register Member</base-button>
                                </div>
                            </form>
                        </template>
                    </card>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue';
    import { ModelListSelect } from 'vue-search-select'
    import 'vue-search-select/dist/VueSearchSelect.css'
    import Loader from "../../components/Loader"
    const { required, email } = require('vuelidate/lib/validators');
    export default {
        name: "registerMember",
        data() {
            return {
                last_name: '',
                first_name: '',
                user_email: '',
                annual_income: '',
                credit_score: '',
                gender: '',
                home_ownership: '',
                telephone: '',
                member_shares: '',
                id_no: '',
                credit_problems: '',
                tax_liens: '',
                years_job: '',
                years_history: '',
                homes: [
                    {code: "Have Mortgage", name: "Have Mortgage"},
                    {code: "Home Mortgage", name: "Home Mortgage"},
                    {code: "Own Home", name: "Own Home"},
                    {code: "Rent", name: "Rent"}
                ],
            }
        },
        validations: {
            last_name: {
                required
            },
            first_name: {
                required,
            },
            user_email: {
                email
            },
            annual_income: {
                required,
            },
            credit_score: {
                required
            },
            gender: {
                required,
            },
            home_ownership: {
                required
            },
            telephone: {
                required,
            },
            member_shares: {
                required
            },
            id_no: {
                required,
            },
            credit_problems: {
                required
            },
            years_history: {
                required,
            },
            tax_liens: {
                required
            },
            years_job: {
                required
            },
        },
        components: {
            ModelListSelect,
            Loader
        },
        created(){
        this.authorizedUser(this.authorizeAdminOnly);
    },
        methods: {
            status(validation) {
                return {
                    errorBorder: validation.$error,
                    dirty: validation.$dirty,
                };
            },
            registerMember() {
                if (this.$v.$invalid) {
                    Vue.notify({ title: 'Error', text: 'There is a validation error', type: 'warn' });
                } else {
                    const data = {
                        last_name: this.last_name,
                        first_name: this.first_name,
                        email: this.user_email,
                        annual_income: this.annual_income,
                        credit_score: this.credit_score,
                        gender: this.gender,
                        home_ownership: this.home_ownership,
                        telephone: this.telephone,
                        member_shares: this.member_shares,
                        id_no: this.id_no,
                        credit_problems: this.credit_problems,
                        tax_liens: this.tax_liens,
                        years_job: this.years_job,
                        years_history: this.years_history
                    }
                    console.log( data)
                    this.$store.dispatch('registermember_function', data)
                }

            }
        },
    }
</script>

<style scoped>
    .message{
        color: #f57f6c;
        font-size: 0.75rem;
        margin-left: 24px;
        margin-top: 0.3rem;
    }
</style>
