<template>
    <div>
        <base-header type="gradient-primary" class="pb-6 pb-8 pt-5 pt-md-8">
            <div class="card">
                <div class="card-header border-0">
                </div>
                <div style="margin-top: -5%;" v-if="loaderStatus">
                    <loader></loader>
                </div>
                <div class="table-responsive" v-else>
                    <vue-good-table
                            :columns="columns"
                            :rows=guarantorLoans.data
                            :line-numbers="true"
                            :search-options="{
                        enabled: true,
                        }"
                            :sort-options="{
                        enabled: true}"
                            :pagination-options="{
                enabled: true,
                perPage: 5
                }"
                            styleClass="table table-striped table-no-bordered table-hover">
                        <template slot="table-row" slot-scope="props">
    <span v-if="props.column.field == 'action'">
           <base-button type="danger" size="sm" @click="accept(props.row)">Accept</base-button>
            <base-button type="warning" size="sm" @click="reject(props.row)">Reject</base-button>
    </span>
                            <span v-else>
      {{props.formattedRow[props.column.field]}}
    </span>
                        </template>
                    </vue-good-table>
                </div>
            </div>
            <!-- Modal -->
        </base-header>
    </div>
</template>

<script>
import Swal from 'sweetalert2'
import Loader from "../../components/Loader"
    export default {
        name: "GuarantorLoans",
        data() {
            return {
                amount: '',
                response: '',
                columns: [
                    {
                        label: 'Loan Date',
                        field: 'application_date',
                        formatFn: this.formatDate,
                    },
                    {
                        label: 'Amount Borrowed',
                        field: 'loan_amount_figures',
                        formatFn: this.formatCost,
                    },
                    {
                        label: 'Loan Applicant',
                        field: 'loan_application_member'
                    },
                    {
                        label: 'Loan Purpose',
                        field: 'loan_purpose'
                    },
                    {
                        label: 'Action',
                        field: 'action',
                    },
                ],
            }
        },
        components: {
            Loader
        },
        created() {
            this.authorizedUser(this.authorizeMemberOnly);
            const userPublicId = localStorage.getItem('pdis');
            this.$store.dispatch('viewGuarantorLoan_function', userPublicId);
        },
        methods: {
            accept(params){
                Swal.fire({
                    title: 'Are you sure?',
                    type: 'info',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, Accept it!'
                }).then((result) => {
                    if (result.value) {
                        this.response = "Accepted"
                        const data = {
                            recommendation: this.response,
                            public_id : params.guarantor_public_id
                        }
                       this.$store.dispatch('guarantorDecision_function', data)
                    }
                })
            },
            reject(params){
                Swal.fire({
                    title: 'Are you sure?',
                    type: 'info',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, Reject it!'
                }).then((result) => {
                    if (result.value) {
                        this.response = "Rejected"
                        const data = {
                            recommendation: this.response,
                            public_id : params.guarantor_public_id
                        }
                       this.$store.dispatch('guarantorDecision_function', data)
                    }
                })
            },
            formartDate(date) {
                return moment(date).format('Do MMMM  YYYY');
            },
            formatCost(amount) {
                const result = Number(amount).toLocaleString()
                if (result !== 0) {
                    return `Ksh. ${result}`;
                } else {
                    return '0';
                }
            },
        },
    }
</script>

<style scoped>

</style>
