<template>
    <div>
        <base-header type="gradient-primary" class="pb-6 pb-8 pt-5 pt-md-8">
        </base-header>
    </div>
</template>

<script>
    export default {
        name: "downloadForm"
    }
</script>

<style scoped>

</style>
